[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Exploring two distinct relationships between two models
[access "refs/*"]
	owner = group user/anngrg126
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/anngrg126
	label-Verified = -1..+1 group user/anngrg126
	push = group user/anngrg126
	read = group user/anngrg126
	rebase = group user/anngrg126
	removeReviewer = group user/anngrg126
	submit = group user/anngrg126
[access "refs/heads/*"]
	create = group user/anngrg126
	push = +force group user/anngrg126
	pushMerge = group user/anngrg126
	read = group user/anngrg126
[access "refs/tags/*"]
	push = group user/anngrg126
	push = +force group user/anngrg126
